.btn {
  background-image: none !important;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  background-color: var(--color-primary);
  border: 0;
  color: #fff;
  /* text-decoration: none;
  padding: 1em; */
}

.btn:hover {
  background-image: linear-gradient(90deg, var(--color-primary), var(--color-accent)) !important;
  color: #fff;
}

/* .btn:hover {
  background-image: linear-gradient(90deg, var(--color-primary), var(--color-accent));
} */

.btn-ghost {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

/* .btn-light {

} */
