#logo {
  padding: 0 15%;
}

.nav-container {
  text-align: center;
}

.logo-container {
  text-align: center;
}

hr {
  border-top: 2px solid var(--color-primary);
}

.current {
  background-color: var(--color-primary);
  border-radius: 4px;
}

.current a,
.current i {
  color: #fff;
}


@media only screen and (min-width: 60em) {

  .nav-container {
    text-align: right;
  }

  .logo-container {
    text-align: right;
  }

  #logo {
    width: 100%;
    padding: 0 0 0 1em;
  }

}
